.about-info-section {
  display: grid;
  padding: 0 1.2rem;
  margin-top: 5rem;

  svg {
    grid-column: 3/6;
  }
}
.fair-responsive{
  background-color: black;
  padding: 3rem 0;
}

.about-info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  a {
    color: var(--color-primary);
  }

  &--img-container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  &--mtd svg {
    max-width: 7rem;
    height: 100%;
    width: 100%;
  }

  &--mt svg {
    max-width: 7rem;
    height: 100%;
    width: 100%;
  }
  &--mtd,
  &--mt {
    display: flex;
    flex-direction: column;
  }
  &--mtd{
    margin-bottom: 5rem;
  }

  h3,
  p {
    color: var(--color-light);
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  p {
    font-weight: 300;
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 550px) {
  .about-info-section {
    grid-template-columns: var(--grid-layout);
  }
  .about-info {
    padding: 2rem;
    grid-column: 2/5;
    text-align: left;
    &--img-container {
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 950px) {
  .about-info {
    &--mt,
    &--mtd {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
    }
    &--mtd svg {
      width: 15rem;
    }
    &--mt svg {
      width: 15rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    &--img-container {
      height: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0;
      margin-right: 2rem;
    }
  }
}