.accept-policy{
    justify-self: center;
    background-color: #17202B;
    padding: 2.2rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0px 0px 12px -7px black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    gap: 2rem;
    justify-self: center;
    justify-content: center;
    align-items: center;
    span{
        color: var(--color-light);
        font-size: 1.2rem;
    }
    a{
        color: var(--color-primary);
        font-size: 1.2rem;
    }
    div{
        display: flex;
        flex-direction:column;
    }
    
    @media screen and (min-width: 900px) {
        flex-direction: row;
    }
    
}

.accept-policy-container{
    position: fixed;
    bottom: 0;
    margin: 0 !important;
    width: 100vw;
    z-index: 999;
    justify-self: center;
}