@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900&display=swap");

@mixin responsive-layout{
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  @media screen and (min-width: 500px){
    grid-template-columns: minmax(1rem, 1fr) minmax(10rem, 6fr) minmax(1rem, 1fr);
  }
  @media screen and (min-width: 950px){
    grid-template-columns: var(--grid-layout);  
  }
}

::-webkit-scrollbar{
  width: 0.5rem;
  &-track{
    padding-block: 1rem;
  }
  &-thumb{
    background-color: rgb(83, 83, 83);
    border-radius: 40px;
    &:hover{
      background-color: rgb(150, 150, 150);
    }
  }
}




html {
  scrollbar-color: rgb(63, 63, 63) rgb(42, 42, 42);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-moz-selection {
  background: #ff984a7e;
}
::selection {
  background: #ff984a7e;
}
:root {
  --color-primary: #ff984a;
  --color-dark: #000000;
  --color-light: #fafafa;
  --grid-layout: 1fr 3fr 0.5em 2fr 1fr;

}


*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-dark);
  margin: 0;
}


h1{
  font-weight: 800;
  font-size: 3rem;
  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}


span,
p,
a,
button,
input {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

html{
  background-color: var(--color-light);
  width: 100%;
}
body{
  width: 100%;
}
