.mtd-button {
  &--primary {
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    color: var(--color-light);
    transition: 0.15s;
    cursor: pointer;
    box-shadow: 0px 0px 12px -8px black;

    &:hover,
    &:focus {
      // background-color: #3a4151;
      // border-color: #3a4151;
      background-color: #141414;
      border-color: var(--color-light);
      color: #fafafa;
      transition: 0.15s;
    }
  }

  &--secondary {
    background-color: transparent;
    border: 2px solid var(--color-dark);
    color: var(--color-dark);
    transition: 0.15s;
    cursor: pointer;
    box-shadow: 0px 0px 12px -8px black;

    &:hover,
    &:focus {
      //background-color: #3a4151;
      //border-color: #3a4151;
      background-color: #040305;
      border-color: #040305;

      
      color: #fafafa;
      transition: 0.15s;
    }
  }

  &--large {
    padding: 0.45rem 2.5rem;
    font-size: 1.5rem;
  }
  &--medium {
    padding: 0.4rem 2.2rem;
    font-size: 1.2rem;
  }
  &--small {
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
  }
}
