.companies-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 12rem);
    padding-top: 3rem;
    gap: 2rem;
    justify-content: center;

    svg{
        max-width: 12rem;
        max-height: 5rem;
        justify-self: center;
    }

    @media screen and (min-width: 500px){
        justify-content: space-between;
    }
}

.rc-companies{
    padding-top: 10rem;
}