.side-note{
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-page {
  padding-top: 10rem;
  @media screen and (min-width: 900px) {
    padding: 10rem 5rem 0 5rem;
  }
}
.contact-container{
  padding-top: 10rem;
}

.contact-wrapper{

  h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.contact-cards-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;
  justify-content: space-between;
  width: 100%;
}
.contact-map-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;
  justify-content: space-between;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.contact-us-section {
  -webkit-animation: fade 0.5s; /* Safari 4+ */
  -moz-animation: fade 0.5s; /* Fx 5+ */
  -o-animation: fade 0.5s; /* Opera 12+ */
  animation: fade 0.5s; /* IE 10+, Fx 29+ */
}
