.contact-submenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  margin: 1.5rem 0 4rem 0;
  gap: 1rem;

  a {
    text-decoration: none;
    justify-self: center;
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
  }
}
