@import "~react-image-gallery/styles/scss/image-gallery.scss";
:root {
  --gradient: radial-gradient(ellipse at bottom, #2e2e2e 0%, #020202 100%);
}

@keyframes moveBackground {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}


.fair-container{
  &--lecturers{
    margin-top: 10rem;
  }
}

.fair-container--lecturers{

  h2,p{
    color: black;
  }
  &--div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }
  
}

.fair-background{
 // background: var(--gradient);
}
.rest-of-the-page {
  z-index: 99;
}
.about-page {
  
  
  &--first-section{
    z-index: 120;
    height: 100vh;
    background-image: url(../public/images/cube1.png) ;
    padding-top: 0rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 100%;
    
}
}

.about-section {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  &--message {
    margin-top: 10rem;
    h1,
    p {
      color: var(--color-light);
    }

    h1 {
      font-size: 3.3rem;
      line-height: 3.3rem;
      margin-bottom: 2.2rem;
    }
    p {
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }

  svg {
    justify-self: center;
    align-self: center;
    margin-top: -2rem;
    display: none;
    max-width: 30rem;
  }
}

.lecturers-section {
  display: grid;
  grid-template-columns: var(--grid-layout);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--container{
    grid-column: 2/5;
  }
}

.gallery--infosection{
  h2{
    color: black;
  }

}


@media screen and (min-width: 900px) {
  
  .lecturers-section {
    grid-template-columns: var(--grid-layout);
    grid-template-rows: auto;
    padding-top: 5rem;
  }
  
  .lecturers--infosection {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .lecturers-container {
    grid-row: 2/3;
    grid-column: 2/5;
  }
  .lecturers{
    grid-column: 1/-1;
  }
  .about-section {
    grid-template-columns: 1fr 1fr;

    &--message {
      grid-column: 1/2 ;
      
    }
    svg {
      grid-column: 2/3;
      justify-self: flex-start;
    }
  }
  .about-page{
    &--first-section{
      padding-top: 8rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../public/images/cube1.png);

    }
  }
}

@media screen and (min-width: 550px) {
  .about-section {
    svg {
      display: block;
    }
    
  }

    .fair-section {
      display: grid;
      grid-template-columns: var(--grid-layout);
    }
  .lecturer-section{

    display: grid;
    grid-template-columns: var(--grid-layout);
  }
  .lecturers{
    grid-column: 2/3;
  }
 .about-page{
  &--first-section{

    
  }
 }
}


@keyframes saturation_anim {
  0%{
    filter:saturate(160%)
  }
  100%{
    filter: saturate(70%);
  }
  
}