.icons {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  width: 1.5em;
  grid-column: -2 / -1;
  gap: 0.5rem;
  path{
    fill: var(--color-light)
  }
  
}
.menu-icon {
  font-size: 3rem;
  cursor: pointer;
  transition: 0.1s;
  
}

.menu-icon:hover {
  fill: var(--color-primary);
}
.header-logo {
  width: 2.75rem;
  justify-self: end;
}

.header h2,
.header-light h2 {
  font-size: 2.75rem;
  align-self: center;
  color: var(--color-dark);
  font-weight: bold;
}
.header-light h2 {
  color: var(--color-light);
}

.nav-items {
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-dark);
    margin-right: 1.25em;
    font-weight: 400;
    font-size: 1.08rem;
  }
}
.nav-items a:hover {
  color: var(--color-primary);
}

.menuToggle {
  grid-column: -2/-1;
  justify-self: end;
  font-size: 2rem;
  margin-right: 1em;
  fill: var(--color-dark);
}
.flag-icon {
  border-radius: 10px;
  transition: 0.2s;
  width: 1.7em;
  cursor: pointer;
}
.flag-icon:hover {
  filter: brightness(80%);
  transition: 0.2s;
}
.header,
.header-light {
  position: fixed;
  min-width: 280px;
  padding: 0.7rem 0;
  display: grid;
  width: 100%;
  grid-template-columns: var(--grid-layout);

  align-items: center;
  top: 0;
  z-index: 999;
  transition: 0.2s;
}

.header-scroll {
  -webkit-box-shadow: 0px 5px 24px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 24px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 24px -15px rgba(0, 0, 0, 0.75);
  background-color: black;
  transition: 0.2s;
}
.brand-icons {
  font-size: 1.25em;
}
.brand-icons > path {
  fill: inherit;
}

.icon-link path {
  fill: inherit;
}

.icon-link:hover {
  fill: var(--color-primary);
  cursor: pointer;
  transition: 0.2s;
}
.header-light {
  .icon-link {
    fill: var(--color-light);
    transition: 0.2s;
  }
  .menu-icon path {
    fill: var(--color-light);
  }
}

.header-scroll{
  h2{
    color: var(--color-light);
  }
  
  .icon-link {
    fill: var(--color-light) !important;
    transition: 0.2s;
  }
  .menu-icon rect {
    fill: var(--color-light) !important;
  }
}
.header {
  color: var(--color-dark);
  .icon-link {
    fill: var(--color-dark);
    transition: 0.2s;
  }
  .menu-icon rect {
    fill: var(--color-dark);
  }
}

.icons {
  grid-column: 4/5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.menu-icon {
  grid-column: 4/5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  &--icon{
    rect{
      fill: var(--color-light)
    }
  }
}
.icon-selected {
  border-bottom: 3px solid var(--clr-primary);
}
.spacer {
  height: 1.5em;
  width: 2px;
  margin: 0 0.5em;
  background-color: var(--color-light);
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column: 2/3;
  gap: 1em;
  h2,svg{
    cursor: pointer;
  }
}

@media screen and (max-width: 750px) {
  .header h2,
  .header-light h2 {
    font-size: 1.5rem;
    align-self: center;
  }
  .menu-icon {
    font-size: 2rem;
    grid-column: -1 / -2;
    &--icon{
      margin-right: 0.75rem;
    }
  }
  .icons {
    display: none;
  }
  .logo-container {
    align-items: center;
    grid-column: 1/2;
    margin-left: 1rem;
  }
  .nav-items {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .header,
  .header-light {
    grid-template-columns: 1fr 1fr;
  }
}
