.info-with-stars {
  height: auto;
  left: 0;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.stars-content {
  padding: 8em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    color: var(--color-light);
  }
}
.shape-divider-bottom {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.stars-info {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.stars-info--column {
  gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;

  max-width: 20rem;
  flex-grow: 1;
}
.stars-info p {
  color: var(--color-light);
}

.stars-info h4 {
  font-size: 1.7rem;
}
.stars-info p {
  font-weight: 300;
}

.stars-info path {
  fill: var(--color-light);
}
.stars-info svg {
  font-size: 3rem;
}
@media screen and (min-width: 900px) {
  .stars-info--icon {
    align-self: flex-start;
  }
  .stars-info--column {
    text-align: left;
    flex-direction: row;
    align-items: flex-start;
  }
  .stars-info {
    flex-direction: row;
    gap: 5rem;
    padding: 0.5rem 0;
  }
  .stars-content {
    margin-top: 3em;
  }
  .stars-info--column {
    max-width: 40rem;
    padding: 0 2em;
  }
  .stars-info--column svg {
    font-size: 4rem;
  }
}

.shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 10vw;
}

.shape-divider-bottom .shape-fill {
  fill: #fafafa;
}
.shape-divider-top {
  position: absolute;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  line-height: 0;
}

.shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 10vw;
}

.shape-divider-top .shape-fill {
  fill: #fafafa;
}
