
.lecturers--infosection {
  h2 {
    color: var(--color-light);
  }
  p {
    color: var(--color-light);
  }
}

.lecturers {
  display: grid;
  justify-content: space-between;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  &--infosection{
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: 900px){
      grid-template-columns: 5fr 4fr;
    }
  }
}
