.member-card{
  max-width: 22rem;
  box-shadow: 0px 0px 16px -10px black;
  h3{
    font-size: 2rem;
    margin-bottom: 0.2rem;
  }
  span{
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    color: var(--color-primary);
  }
  
  a{
    font-size: 1rem;
  }
  img{
    width: 100%;
  }
  &--top{

  }
  &--bottom{
    padding: 1rem;
    background-color: #F6F6F6;

  }
  &--content{

  }
  &--spacer{
    width: 80%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.164);
    margin: 1.2rem auto;
  }
  &--contactinfo{
    padding-top: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    svg{
      margin-right: 0.5rem;
      
    }
    path{
      color: var(--color-primary)
    }

  }
  &--linked-in{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      font-size: 1.5rem;
      path{
        fill: rgba(0, 0, 0, 0.5);
      }
      
    }
  }
}