.section-policy {
  display: grid;
  padding: 0 1rem;
  padding-top: 10rem;

  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  a {
    color: var(--color-primary);
  }
  p {
    margin-bottom: 1rem;
  }
}
