.registration-section{
    padding-top: 13rem;
    h1{
        margin-bottom: 1rem;
    }
}

.registration-error-message{
    &>div{
        width: 5px;
        height: 100%;
        background-color: firebrick;
    }
    span{
        margin-left: 0.5rem;
        color: black;
    }
    
    align-items: center;
    
    height: 3rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 184, 184);
}

.registration-form{
    grid-column: -1/-2;
}

.registration-wrapper{

    svg{
        max-width: 30rem;
    }
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    p{
        margin-bottom: 2rem;
    }
    @media screen and (min-width: 900px) {
        grid-template-columns: 6fr 1fr 6fr;
    }
    }

.register-form{
    position: relative;
    display: flex;
    flex-direction: column;
    .register-form--row-container{
        margin-bottom: 4rem;
        @media screen and (max-width: 500px) {
                margin-bottom: 3rem;
        }
    }

    span,a{
        margin-top: 2rem;
        font-size: 1rem;
        color: rgb(80, 80, 80);
        path{
            fill: rgb(80, 80, 80);
        }
        margin-bottom: 1rem;
    }
    a{
        color: var(--color-primary)
    }
    b{
        font-size: 1rem;
    }

    input{
        -webkit-appearance: none;
        border: none;
        position: absolute;
        background-color: transparent;
        border-bottom: 1px solid black;
        font-size: 1.3rem;
        transition: border 0.1s;
        font-family: "Barlow";
        width: 100%;
        padding-bottom: 0.5rem;
        &:hover{
            border-bottom: 1px solid #ffc293;
        }

        &:focus{
            border: none;
            transition: border 0.1s;
            outline: none;
            border-bottom: 3px solid var(--color-primary);
        }

    }
    label{
        font-family: "Barlow";
        font-size: 1.3rem;
        position: absolute;
        transition: 0.25s;
        pointer-events: none;
        margin-bottom: 0.5rem;
    }
    textarea{
        width: 100%;
        position: absolute;
        font-family: "Barlow";
        font-size: 1.3rem;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid black;
        resize: none;
        &:hover{
            border-bottom: 1px solid #ffc293;
        }
        &:focus{
            outline: none;
            border-bottom: 3px solid var(--color-primary);
        }
    }

    svg{
        margin-right: 0.6rem;
    }
    path{
        fill: var(--color-light)
    }


}

//ANIMATION
.register-form--input:focus ~ .register-form--label, .register-form--input:not(:placeholder-shown).register-form--input:not(:focus)~.register-form--label{
    transition: 0.25s;
    transform: translateY(-1.0rem);
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(95, 95, 95);
}

.register-form--textarea:focus ~ .register-form--label, .register-form--textarea:not(:placeholder-shown).register-form--textarea:not(:focus)~.register-form--label{
    transition: 0.25s;
    transform: translateY(-1rem);
    font-size: 0.8rem;
}
    

