.reservation-success {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding-top: 8rem;

  p {
    font-size: 1.2rem;
    margin: 0 35rem;
  }
  h1 {
    font-size: 3rem;
  }
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  svg {
    font-size: 1rem;
  }
  path {
    fill: var(--color-primary);
  }
  &--welcome {
  }
  &--email {
    border-top: 1px solid rgb(136, 136, 136);
    padding-top: 1rem;
    font-size: 1rem !important;
  }
}
