.sticky-contact{

    .registration-form{
        overflow-y: scroll ;
    }
    --animation-width: 15rem;
    z-index: 990;
    
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.5rem 1.5rem;

    &--circle{
        background-color: var(--color-dark);
        position: absolute;
        z-index: 99;

    path{
        fill: var(--color-light)
    }
    font-size: 1.5rem;
    width: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    transform: translate3d(-0.1rem, -0.1rem,0) ;
    border-radius: 1000px;
    
   
    -webkit-box-shadow: 0px 0px 19px -5px #000000; 
    box-shadow: 0px 0px 19px -5px #000000;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        path{
            //fill: var(--color-dark)
            
        }
        background-color: #ffb67e;
        transition: 0.3s;
    }
    }

    &--rect{
        -webkit-box-shadow: 0px 0px 19px -10px #000000; 
        box-shadow: 0px 0px 19px -10px #000000;
        border-radius: 1000px;
        background-color: var(--color-light);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        h4{
            color: black;
            font-size: 1.6rem;
        }
        span{
            color: black;
        }
        
    }
}
.sticky-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    padding-top: 15vh;
    height: 100%;
    h4{
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 500px) {
        padding-top: 10vh;
    }
}

@media screen and (min-width: 900px) {
    .sticky-contact{
    margin: 2rem 3rem;
    --animation-width: 25rem;
    }
}