.member-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 31rem));
  align-items: center;
  justify-content: center;
  gap: 2rem;
  -webkit-animation: fade 0.5s; /* Safari 4+ */
  -moz-animation: fade 0.5s; /* Fx 5+ */
  -o-animation: fade 0.5s; /* Opera 12+ */
  animation: fade 0.5s; /* IE 10+, Fx 29+ */
  justify-content: space-between;
}

.the-group-section {
  grid-column: 2/3;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1285px) {
  .member-card-container {
    justify-content: center;
  }
}
